<% if @cur_url == "/recent" %>
  <div class="box" id="leader">
    <em>
      <%= tr('The [link: newest] stories with a random sampling of recently submitted stories that have not yet reached the front page.',
          link: {href: '/newest'}) %>
      </em>
  </div>
<% end %>

<ol class="stories list <%= @cur_url == "/hidden" ? "show_hidden" : "" %>">
  <%= render :partial => "stories/listdetail", :collection => @stories, :as => :story %>
</ol>

<div class="morelink">
  <% if @page && @page > 1 %>
    <a href="<%= @cur_url %><%= @cur_url == "/" ? "" : "/" %><%=
      @page == 2 ? '' : tr('page/{num}', num: @page - 1) %>"> <%= tr('&lt;&lt; Page {num}', num: @page - 1) %>
    </a>
  <% end %>

  <% if @show_more %>
    <% if @page && @page > 1 %>
      |
    <% end %>
    <a href="<%= @cur_url %><%= @cur_url == "/" ? "" : "/" %><%= tr('page/{num}', num: @page + 1)
      %>"> <%= tr('Page {num} &gt;&gt;', num: @page + 1) %></a>
  <% end %>
</div>
