<div class="box wide">
  <div class="legend">
    <%= tr('Reset Password') %>
  </div>

  <p>
    <%= tr("If you've forgotten your password, enter your e-mail address or username below and instructions will be e-mailed to you.") %>
  </p>

  <%= form_tag reset_password_path do %>
    <%= label_tag :email, tr('E-mail or Username:') %>
    <%= text_field_tag :email, "", :size => 30 %>
    <br />

    <p>
    <%= submit_tag trl('Reset Password') %>
    </p>
  <% end %>
</div>
